{{
use DebugBar\StandardDebugBar;
if($env == 'dev'){
    $debugbar = new StandardDebugBar();
    $debugbarRenderer = $debugbar->getJavascriptRenderer(); 
    $debugbar["messages"]->addMessage("photoPHP's first debugging");
}
}}
<!doctype html>
<html>
<head>
    <title>{{ echo "hi" ; }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if($env == 'dev'){ echo $debugbarRenderer->renderHead(); } }}
</head>
<body>
    {{ if($env == 'dev'){ echo $debugbarRenderer->render(); } }}
    <[body]>
</body>
</html>
